<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-light px-3" *ngIf="user">
    <div class="navbar-nav d-flex justify-content-between align-items-center w-100">
        <a title="Northern Trust logo" class="logo-home-page css-l64nd7-StyledHeaderLogo e44tijm0 right-side-logo"
        href="https://northerntrust.com">
            <img alt="Norhtern Trust Logo redirects to northerntrust.com"
            src="https://cdn.northerntrust.com/osk/nt/assets/6/NT_MFA_Mobile_logo.svg" style="width: 100px;">
        </a>
        <h4 class="m-0">Remote Access and Webmail</h4>
        <button class="btn btn-link nav-item nav-link p-0" style="color: darkgreen;" (click)="logoutAd()"><h4>Logout</h4></button>
    </div>
</nav>



<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4" style="color: darkgreen;">
    <p>
        © 2024 Northern Trust Corporation. All Rights Reserved.
    </p>
</div>
