<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container">
    <!-- First div -->
    <div class="section">
        <h2 style="color: green;">Remote Access Status</h2>
        <div class="flex-container">
            <div class="layout-wrapper first-element">
                <h4 style="color: red;">ALERTS</h4>
                <a href="https://cdn.northerntrust.com/remoteaccess/NetScaler-How-to-Connect-to-your-VDI.pdf" title="New Login Procedure for NT Citrix MyApps" class="link">
                    <h3>New Login Procedure for NT Citrix MyApps</h3>
                </a>
            </div>
            <button class="help-button"><i class="fas fa-question-circle"></i></button>
        </div>
        <b>NOTE:</b> Only the <b>MyPlace</b> links below comply with the <b>"Mandatory Absence Policy".</b> Any other link violates that policy.      
    </div>
    
    
    <!-- Second div with two side-by-side divs -->
    <div class="section">
        <h2 style="color: green;">Your Remote Access Region: North America</h2>
        <div class="side-by-side">
            <div class="layout-wrapper">
                <h3 style="text-align: left;">Web Apps</h3>
                <a href="https://wpcvpn02-webapps.remote.ntrs.com/webmail/#t=1713855954225"><h5 style="text-align: left;">WebMail</h5></a>
                <a href="https://www.myworkday.com/ntrs/login.htmld"><h5 style="text-align: left;">Workday</h5></a>
                <a href="https://npcvpn01-webapps.remote.ntrs.com/myplace/#t=1713856027577"><h5 style="text-align: left;">Legacy HR Sytem</h5></a>
            </div>
            
            <div class="layout-wrapper">
                <h3 style="text-align: left;">VDI Connect — from Personal Device (BYOD)</h3>
                <a href="https://npccw.remote.ntrs.com/#t=1713856041726"><h5 style="text-align: left;">Connect to US VDI</h5></a>
                <a href="https://ukpccw.remote.ntrs.com/#t=1713856054760"><h5 style="text-align: left;">Connect to UK VDI</h5></a>
                <a href="https://wpccwo.remote.ntrs.com/#t=1713856061677"><h5 style="text-align: left;">Connect to Omnium VDI</h5></a>
            </div>
        </div>
        <br>
        <a href="https://cdn.northerntrust.com/remoteaccess/remote-access-faq.pdf"><h5 style="text-align: left;">FAQs</h5></a>
    </div>
</div>